* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

div {
  width: 100%;
}

.btn {
  display: block;
  margin: 300px auto;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid rgb(40, 43, 40, 0.2);
  border-radius: 5px;
}
